<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <style>
        .container{
            max-width: 500px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Go Auth with Session</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container mt-5">
    <h3 style="text-align: center; font-weight: bold">Register</h3>
    {{if .user_exists }}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{.user_exists}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{end}}
    <hr>

    <form method="post" action="/register">
        <div class="mb-2">
            <label for="username" class="mb-2" style="font-size: 18px;">Username</label>
            <input type="text" name="username" value="{{.user.Username}}" id="username" class="form-control rounded-0 {{if .validation.Username }} is-invalid {{end}} " placeholder="Username...">
            {{if .validation.Username}}
            <span class="text-danger" style="margin-left: 1%;">{{.validation.Username}}</span>
            {{end}}
        </div>
        <div class="mb-2">
            <label for="full_name" class="mb-2" style="font-size: 18px;">Full name</label>
            <input type="text" id="full_name"  value="{{.user.FullName}}" name="full_name" class="form-control rounded-0 {{if .validation.FullName }} is-invalid {{end}}" placeholder="Full name...">
            {{if .validation.FullName}}
                <span class="text-danger" style="margin-left: 1%;">{{.validation.FullName}}</span>
            {{end}}
        </div>
        <div class="mb-2">
            <label for="email" class="mb-2" style="font-size: 18px;">Email</label>
            <input type="email" id="email" name="email" value="{{.user.Email}}" class="form-control rounded-0  {{if .validation.Email }} is-invalid {{end}}" placeholder="Email...">
            {{if .validation.Email}}
                <span class="text-danger" style="margin-left: 1%;">{{.validation.Email}}</span>
            {{end}}
        </div>
        <div class="mb-2">
            <label for="password" class="mb-2" style="font-size: 18px;">Password</label>
            <input type="password" id="password" name="password"  class="form-control rounded-0  {{if .validation.Password }} is-invalid {{end}}" placeholder="Password...">
            {{if .validation.Password}}
                <span class="text-danger" style="margin-left: 1%;">{{.validation.Password}}</span>
            {{end}}
        </div>
        <div class="mb-2">
            <label  for="password" class="mb-2" style="font-size: 18px;">Confirm Password</label>
            <input  type="password" id="password" name="confirm_password"   class="form-control rounded-0 {{if .validation.ConfirmPassword }} is-invalid {{end}}" placeholder="Password...">
            {{if .validation.ConfirmPassword}}
                <span class="text-danger" style="margin-left: 1%;">{{.validation.ConfirmPassword}}</span>
            {{end}}
        </div>
        <div class="mb-2">
            <button type="submit"  class="btn btn-success w-100">Register</button>
        </div>
    </form>
    <hr>
    <p>Does not have Account ? <a href="/login">Login</a></p>
</div>
<script src="/public/assets/bootstrap/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</body>
</html>