<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Go Auth with Session</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                {{if eq .user_auth false }}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {{end}}
            </ul>

        </div>
    </div>
</nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">Home</div>
            <div class="card-body">
                <h3>Welcome, {{.user_fullName}}</h3>

            </div>
            <div class="card-footer">
                <form method="post" action="/logout">
                    <button class="btn btn-primary">Logout</button>
                </form>
{{/*                <a href="/logout" class="btn btn-primary">Logout</a>*/}}
            </div>
        </div>
    </div>
<script src="/public/assets/bootstrap/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</body>
</html>